@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SupportCenter is de demo applicatie gemaakt tijdens het dOlod Framework. Je kan voor het dOlod Onderzoekstopics vertrekken vanuit deze versie!</p>
