@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karel De Grote Hogeschool<br />
    Nationalestraat 5, 2000 Anwerpen<br />
    <abbr title="Phone">P:</abbr>
    +32 3 613 13 00
</address>

